.container{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-page{
    width: 50vw;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;

}

.login-page img{
    width: 100px;
}


.login-page h1{
    width: 225px;
    text-align: center;
    border-bottom: 3px solid white;
    color: white;
    margin: 30px 0px;
    padding: 8px 0px;
}



.login-page input{
    width: 180px;
    height: 40px;
    padding: 0 20px;
    font-size: 15px;
    border-radius: 6px;
    outline: none;

}


.login-page button{    
    width: 225px;
    margin: 20px;
    height: 40px;
    padding: 0 20px;
    font-size: 20px;
    border-radius: 6px;
    background-color: crimson;
    color: white;
    transition: all 0.4s;


}


.login-page button:hover{
    cursor: pointer;
    background-color: rgb(158, 19, 47);
}



